body {
    background: url(../media/weapon-bg.png) #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* height: 100vh; */
    margin: 0;
}

#dashboard {
    display: flex;
    justify-content: space-between;
}

#charts {
    width: 100%;
}

#charts-container {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3em;
}

#bubbleChart {
    width: 100%;
}

svg.bubble {
    display: block;
    margin: 0 0 0 3em;
    height: 100vh;
    width: 100%;
}

circle {
    fill:  #0000006b;
    stroke: #ffffffff;
    stroke-width: 1;
    transition: fill 0.5s ease;
}

circle:hover {
    fill: #63636318;
    stroke-width: 3;
}

.tooltip {
    background: #fdfdfd;
    width: 100px;
    height: 100px;
    /* visibility: hidden; */
}

.tooltip-text{
    visibility: hidden;
}

.node:hover .tooltip-text {
    visibility: visible;
}

text {
    font-family: 'Lato', sans-serif;
    text-anchor: middle;
    fill: #fdfdfd
}

.d3-tip {
    line-height: 1;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.849);
    color: #fdfdfd;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
  }
  
  /* Creates a small triangle extender for the tooltip */
  /* .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  } */
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

/* piechart */

#pieChart {
    width: 100%;
}

#pieChart>svg {
    display: block;
    margin: 0 auto;
}

.arc path{
    stroke: #ffffffff;
    stroke-width: 1;
}

.arc path:hover {
    stroke-width: 3;
}

.arc text {
    font-family: 'Lato', sans-serif;
    stroke-width: 0;
    text-anchor: middle;
}

/* legend container */

#legendContainer {
    width: 33%;
    background: #00000091;
}

#legendContainer>h2 {
    color: #fdfdfd;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

#legendContainer>h3 {
    color: #fdfdfd;
    text-align: center;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}

#bubbleLegend > svg {
    display: block;
    margin: 0 auto;
}

.bubbleLegendText {
    font-family: 'Lato', sans-serif;
    font-size: 8pt;
}

/* Pie legend */
#pieLegend {
    color: white;
    height: 100%;
}